.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 41px;
  transition: width 0.5s;
  transition: height 0.5s;
  transition: padding 0.5s;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding-left: 27px;
    padding-bottom: 31.6px;
  }
} 