.popup__container {
  position: absolute;
  background-color: #ffffff;
  width: 430px;
  height: 330px;
  top: calc((100% - 330px) / 2);
  left: calc((100% - 430px) / 2);
  border-radius: 10px;
  z-index: 2;
  transition: width 0.2s;
  transition: height 0.2s;
}

@media screen and (max-width: 520px) {
  .popup__container {
    width: 282px;
    height: 322px;
    top: calc((100% - 322px) / 2);
    left: calc((100% - 282px) / 2);
  }
} 