.profile__info-sub {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width: 880px) {
  .profile__info-sub {
    gap: 10px;
  }
} 