.profile__subtitle {
  margin: 0;
  padding-top: 16px;
  max-width: 400px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__subtitle {
    max-width: 220px;
    padding-top: 8px;
    font-size: 14px;
    line-height: 17px;
  }
} 

@media screen and (max-width: 768px) {
  .profile__subtitle {
    text-align: center;
  }
} 