.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/close_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: width 0.2s;
  transition: height 0.2s;
  transition: opacity 0.4s;
  transition: top 0.4s;
  transition: right 0.4s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 520px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
} 