.popup__item {
  padding: 0;
  border: 0;
  width: 358px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  transition: width 0.3s;
  transition: margin 0.3s;
}

.popup__item::placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.popup__item[name="heading"] {
  margin: 50px 36px 0 36px;
  padding-bottom: 8px;
}

.popup__item[name="subheading"] {
  margin: 35px 36px 0 36px;
  padding-bottom: 4px;
}

@media screen and (max-width: 520px) {
  .popup__item {
    width: 238px;
  }
  .popup__item[name="heading"] {
    margin: 75px 22px 0 22px;
    padding-bottom: 10px;
  }
  
  .popup__item[name="subheading"] {
    margin: 28px 22px 0 22px;
    padding-bottom: 10px;
  }
} 